/**
*
* General
*
*/
html, body {
  margin: 0;
  padding: 0;
}


/**
*
* Navigation bar
*
*/
navbar {
  height: 26px;
  background-color: #0000cc;
  width: 100%;
  display: block;

  button {
    margin: 5px;
  }
}
