doctype html
html
    head
        title='Markup'
        link(href='less/main.less' rel='stylesheet')
        link(href='node_modules/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    body
        // script(src='node_modules/jquery/dist/jquery.js').
        script(src='./node_modules/jquery/sizzle/dist/sizzle.min.js').
        script(src='./node_modules/jquery/dist/jquery.min.js').
        script(src='./node_modules/tether/dist/js/tether.min.js').
        script(defer src='./node_modules/bootstrap/dist/js/bootstrap.min.js').
        script(src='render/content.js').
        script(src='render/tree.js').
