doctype html
html
    head
        meta(name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title='Browser Tree'
        link(href='node_modules/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
        link(href='less/main.less' rel='stylesheet')
    body
        div.container-fluid
            nav.navbar.navbar-darg.bg-inverse.navbar-fixed-top.row
                div.col-xs-2.col-xs-offset-2.col-md-offset-1
                    button#menu.btn.btn-info-outline.btn-block Menu
                form#go-form.col-xs-5.col-md-6
                    input#urlbar.form-control(type='text' value='github.com')
                div.col-xs-2
                    button#go.btn.btn-success-outline.btn-block Go

        div#views
            webview#webview(src='https://github.com' autosize='on' minwidth="576" minheight="432")
        div#sidebar.hide-sidebar

        script(src='./node_modules/jquery/sizzle/dist/sizzle.min.js').
        script(src='./node_modules/jquery/dist/jquery.min.js').
        script(src='./node_modules/tether/dist/js/tether.min.js').
        script(defer src='./node_modules/bootstrap/dist/js/bootstrap.min.js').
        script(src='render/renderer.js').
        script(src='render/sidebar.js').
